header {
    text-align: center;
}

.description {
    font-style: italic;
    color: rgb(33, 37, 37);
}

.search-result-container {
    background-color: white;
}

.btn {
    background-color: rgb(75, 116, 231);
    color: white;
}


/* Not a lot of CSS in the style-sheet*/