header {
    text-align: center;
}

.description {
    font-style: italic;
    color: rgb(12, 57, 71);
}

.search-result-container {
    background-color: white;
}


/* Not a lot of CSS in the style-sheet*/